* {
    box-sizing: border-box;
}

:root {
    --bgcolor: #bd899e;
    --light: #fbf3d2;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

header {
    text-align: center;
    padding: 5%;
}

header h1 {
    font-size: 200%;
    padding: 20px;
}

header p {
    margin: 0 30%;
    padding: 20px;
    font-weight: bolder;
}

header button {
    cursor: pointer;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
}

header button:hover {
    background: var(--bgcolor); 
    color: var(--light);
}

.timer {
    position: absolute;
    top: 10px;
    right: 45px;
}

.seconds-left {
    position: inherit;
    top: 0;
    right: -30px;
}

.high-scores {
    position: absolute;
    top: 10px;
    left: 10px;
}